*.aux
*.bbl
*.blg
*.dvi
*.elc
*.fff
*.log
*.nav
*.out
*.pdf
*.png
*.ps
*.pyc
*.snm
*.toc
*.ttt
*~
.DS_Store
.\#*
\#*
cache
code/scrap.py
data*/
man/final-project_files
man/nips-2013_files
man/notes_files
man/proposal_files
stimuli*/
/man/nips-2013-reviews.html
/man/nips-2013-rebuttal.txt
